<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RecipeWebsite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RecipeWebsite.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark bottom_border set-font">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Recipe" asp-action="Index">GitGrub</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link active" asp-area="" asp-controller="Recipe" asp-action="Index">Home</a>
                        </li>
                        <li>
                        @if (User.Identity.IsAuthenticated) {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Recipe" asp-action="MyFavorites">My Favorites</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Recipe" asp-action="Create">Create A Recipe</a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!--For nutrition information modal-->
    <div class="modal fade" id="nutritionModal" role="dialog">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>

    <!--For measurment converter modal-->
    <div class="modal fade" id="measurementModal" role="dialog">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <form>
                        <h4>From</h4>
                        <br />

                        <select id="unit" class="btn btn-secondary">
                            <option value="tsp">tsp</option>
                            <option value="tbsp">tbsp</option>
                            <option value="cup">cup</option>
                            <option value="gram">gram</option>
                            <option value="oz">fl ounce</option>
                            <option value="pint">pint</option>
                            <option value="quart">quart</option>
                            <option value="gallon">gallon</option>
                            <option value="ml">milliliter</option>
                            <option value="liter">liter</option>
                            <option value="kl">Kiloliter</option>
                        </select>

                        <label for="measure-number" class="text-dark">How Much</label>
                        <input id="measure-number" type="text" />
                        <br />
                        <br />


                        <h4>To</h4>
                        <br />

                        <select id="unit" class="btn btn-secondary">
                            <option value="tsp">tsp</option>
                            <option value="tbsp">tbsp</option>
                            <option value="cup">cup</option>
                            <option value="gram">gram</option>
                            <option value="oz">fl ounce</option>
                            <option value="pint">pint</option>
                            <option value="quart">quart</option>
                            <option value="gallon">gallon</option>
                            <option value="ml">milliliter</option>
                            <option value="liter">liter</option>
                            <option value="kl">Kiloliter</option>
                        </select>

                        <label for="measure-number" class="text-dark">How much</label>
                        <input id="measure-number" type="text" />

                    </form>
                </div>
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - RecipeWebsite - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    @{
        var api = ApiHelper.apiKey();
    }

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        //Nutrition Information API https://calorieninjas.com/
        function sendApi() {
            var food = $('#api-request').val();
            $.ajax({
                method: 'POST',
                url: '/Home/NutritionModal',
                data: JSON.stringify(food), 
                contentType: 'application/json',
                success: function (response) {
                    $('#nutritionModal .modal-body').html(response); 
                    $('#nutritionModal').modal('show'); 
                },
                error: function ajaxError(jqXHR) {
                    alert("error");
                    console.error('Error: ', jqXHR.responseText);
                }
            });
        }

        function openMeasureModal(){
            $('#measurementModal .modal-body').html();
            $('#measurementModal').modal('show');
        }
    </script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>