@model RecipeWebsite.Models.RecipeViewModel

@{
    ViewData["Title"] = "Create Recipe";
    int i = 0;
}

<h1>@ViewData["Title"]</h1>

<hr />

<form asp-controller="Recipe" asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <br />

    <label asp-for="Category">What Type of Dish is This?</label>
    <select class="btn btn-secondary" asp-for="Category" id="select-category" onchange="subcategory()">
        <option value="Breakfast">Breakfast</option>
        <option value="Lunch">Lunch</option>
        <option value="Dinner">Dinner</option>
        <option value="Dessert">Dessert</option>
		<option value="Meat">Meat</option>
		<option value="Bread">Bread</option>
        <option value="Dairy">Dairy</option>
        <option value="Soup">Soup</option>
        <option value="Salad">Salad</option>
        <option value="Beverage">Beverage</option>
    </select>
    <span asp-validation-for="Category" class="text-danger"></span>
    <br />
    <br />

    <!--for use when subcategory is implemented-->
    <label for="select-subcategory" asp-for="SubCategory">What Type of Food is this?</label>
    <select class="btn btn-secondary" asp-for="SubCategory" id="select-subcategory">
        <option value="No Subcategory">No Subcategory</option>
        <option value="Sweet">Sweet</option>
        <option value="Savory">Savory</option>
        <option value="Breakfast Side">Breakfast Side</option>
        <option value="Other Breakfast">Other Breakfast</option>
    </select>
    <span asp-validation-for="SubCategory" class="text-danger"></span>
    <br />
    <br />

    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea> 
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <br />

    <div class="form-group">
        <label asp-for="ImageUrl" class="control-label"></label>
        <input asp-for="ImageUrl" class="form-control" />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>
    <br />

    <div class="form-group">
        <label asp-for="Directions"></label>
        <textarea asp-for="Directions" class="form-control"></textarea>
        <span asp-validation-for="Directions" class="text-danger"></span>
    </div>
    <br />

    <h4>Ingredients</h4>
    <hr />
    <div id="ingredient-fields">
        <div id="ingredient-fields">
            @for (i = 0; i < Model.Ingredients.Count; i++)
            {
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-10">
                            <input type="text" data-val="false" name="Ingredients[@i].Name" class="form-control" placeholder="Enter an ingredient" value="@Model.Ingredients[i].Name" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <input type="text" data-val="false" name="Ingredients[@i].Amount" class="form-control" placeholder="Enter amount" value="@Model.Ingredients[i].Amount" />
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-danger remove-ingredient">Remove</button>
                        </div>
                    </div>
                </div>
                <br />
            }
        </div>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary" id="add-ingredient">Add Ingredient</button>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>

@section Scripts {
    <script>
        var i = @i;
        $(document).ready(function () {
            $("#add-ingredient").click(function () {
                var newField = '<div class="form-group">' +
                    '<div class="row">' +
                    '<div class="col-md-10">' +
                    '<input type="text" name="Ingredients[' + i + '].Name" class="form-control" placeholder="Enter an ingredient" data-val="false" value="" />' +
                    '</div>' +
                    '</div>' +
                    '<div class="row">' +
                    '<div class="col-md-10">' +
                    '<input type="text" name="Ingredients[' + i + '].Amount" class="form-control" placeholder="Enter amount" data-val="false" value="" />' +
                    '</div>' +
                    '<div class="col-md-2">' +
                    '<button type="button" class="btn btn-danger remove-ingredient">Remove</button>' +
                    '</div>' +
                    '</div>' +
                    '</div>' +
                    '</br>';

                $("#ingredient-fields").append(newField);
                i++;
            });

            $("form").on("click", ".remove-ingredient", function () {
                $(this).closest(".form-group").remove();
            });
        });

        function subcategory() {
            alert("hello");
            var catElement = document.getElementById('select-category');
            var category = catElement.value;
            var subcategories = [];

            switch (category) {
                case "Breakfast":
                    subcategories = ['Sweet', 'Savory', 'Other Breakfast'];
                    break;
                case "Lunch":
                    subcategories = ['Sandwich', 'Soup', 'Salad', 'Pizza', 'Other Lunch'];
                    break;
                case "Dinner":
                    subcategories = ['Casserole', 'Pizza', 'Roast', 'BBQ', 'Other Dinner'];
                    break;
                case "Dessert":
                    subcategories = ['Cookie', 'Cake', 'Pie', 'Pudding', 'Other Dessert'];
                    break;
                case "Meat":
                    subcategories = ['Poultry', 'Pork', 'Beef', 'Other Meat'];
                    break;
                case "Bread":
                    subcategories = ['Wheat', 'White', 'Multigrain', 'Sweet', 'Other Bread'];
                    break;
                case "Dairy":
                    subcategories = ['Milk', 'Yogurt', 'Cheese', 'Other Dairy'];
                    break;
                case "Soup":
                    subcategories = ['Thin', 'Chowder', 'Bisque', 'Broth/Stock', 'Other Soup'];
                    break;
                case "Salad":
                    subcategories = ['Fruit', 'Vegetable', 'Pasta', 'Potato', 'Other Salad'];
                    break;
                case "Beverage":
                    subcategories = ['Soda', 'Alchoholic', 'Juice', 'Dairy', 'Other Beverage'];
                    break;
                default:
                    subcategories = ['No Subcategory'];
            }

            var subCatElement = document.getElementById('select-subcategory');
            subCatElement.innerHTML = '<option value="No Subcategory">No Subcategory</option>';
            for (var i = 0; i < subcategories.length; i++) {
                var option = document.createElement("option");
                option.value = subcategories[i];
                option.innerText = subcategories[i];
                subCatElement.appendChild(option);
            }
        }
    </script>
}