@model IEnumerable<RecipeWebsite.Models.Recipe>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Welcome To GitGrub</h1>
<h4 class="text-center">Sign in to Create Your Own Recipes and Add to Your Favorites List!</h4>

<table class="table">
    <thead>
        <tr>
            <th >
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.RecipeId">
                        <img src="@item.ImageUrl" alt="Recipe Image" width="100" />
                    </a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.RecipeId">@Html.DisplayFor(modelItem => item.Title)</a>
                </td>
            </tr>
        }
    </tbody>
</table>
