@model IEnumerable<RecipeWebsite.Models.Recipe>

@{
    ViewData["Title"] = "MyFavorites";
}

<h1>MyFavorites</h1>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.RecipeId">@Html.DisplayFor(modelItem => item.ImageUrl)</a>
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.RecipeId">@Html.DisplayFor(modelItem => item.Title)</a>
            </td>
        </tr>
}
    </tbody>
</table>
