<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Category
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Breakfast</a>
        <a class="dropdown-item" href="#">Lunch</a>
        <a class="dropdown-item" href="#">Dinner</a>
        <a class="dropdown-item" href="#">Beverage</a>
        <a class="dropdown-item" href="#">Dessert</a>
        <a class="dropdown-item" href="#">Side</a>
        <a class="dropdown-item" href="#">Soup</a>
        <a class="dropdown-item" href="#">Salad</a>
        <a class="dropdown-item" href="#">Bread</a>
    </div>
</div>
<br />

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
